@model DogModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vi elsker søde hunde!!!</h1>
    <h4>Se lige alle de her <b>søde</b> hunde!</h4>
    <img src="@Model.Message" alt="">
</div>