@model DogModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vi elsker søde hunde!!!</h1>
    <h4>Se lige alle de her <b>søde</b> hunde!</h4>
    
    <select class="dog-selector"></select>
    <a href="javascript:void(0);" class="get-dog">Hent den fucking hund</a>
    <div class="demo-image"></div>
</div>